* {
}

ul:first-child {
  margin-left: 120px;
}

li {
  display: inline-block;
  padding: 10px 10px;
  padding-left: 70px;
  margin-left: -4px;
  height: 16px;
  width: 150px;
  color: #fff;
  background-color: #373737;
}

li a {
  width: 100px;
  height: 25px;
}


/* about  */

.list-container li:nth-child(2) ul {
  display: none;
  position: absolute;
  left: 580px;
  top: 52px;
}

li:nth-child(2) ul li {
  display: block;
  opacity: 0.3;
} 

li:hover {
  background-color: #ffc18e;
}

.list-container li:nth-child(2):hover ul{
  display: block;
}

/* news */

li:nth-child(3) ul{
  display: none;
  position: absolute;
  left: 810px;
  top: 52px;
}

li:nth-child(3) ul li {
  display: block;
  opacity: 0.3;
} 

.list-container li:nth-child(3):hover ul{
  display: block;
}

/* Contact */
li:nth-child(4) ul{
  display: none;
  position: absolute;
  left: 1036px;
  top: 52px;
}

li:nth-child(4) ul li{
  display: block;
  opacity: 0.3;
} 

.list-container li:nth-child(4):hover ul{
  display: block;
}

