.container{
    width: 6.5rem;
    background-color: #1E90FF;
    height: 35px;
    margin: auto;
    margin-top: 350px;
}

.btn{
    color:#fff;
    text-decoration: none;
    margin-left: 18px;
    margin-top: 8px;
    display: inline-block;
}

/* TODO: search about why margin-top worked when you applied display:inline-block  */

.badge{
 position: absolute;
 background: #000000;
 color: #fff;
 width: 20px;
 height: 20px;
 border-radius: 20px;
 margin-left: 17px;
 margin-top: -15px;
 text-align: center;
}