
body{
    background-color: #000;
}

.div__btn{
    text-align: center;
    margin-top: 350px;
}

.btn{
    width: 150px;
    border-radius: 7px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: 1.6px solid #FFFF00;
}

.btn:hover{
    box-shadow: 1px 1px 10px 2px  #FFFF00;
 }